<div class="row">
  <div class=" bg-img-left col landing-left">
    <div class=" text-center p-4">
      <h1 class="lead text-white display-2">MyApps</h1>

    </div>
  </div>
  <div class="bg-img-right col landing-right text-center">
    <div class="mx-auto col-10" >
      <div class="input-group mb-3">
          <input type="text" class="t-input form-control" placeholder="Search for jobs..." aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
          </div>
        </div>
    </div>
  </div>
</div>
<div id="mid-col" class="row mx-auto">
    <div class="card">
        <div class="card-header lead bg-white">
            Job Search
        </div>
        <div class="card-body landing-card">
          <h5 class="card-title">Search from different job search engines all in one place</h5>
          <div class="row">
            <div class="col p-4">
              <p> <i class="fab fa-github-square" ></i> Github</p>
              <p> <i class="fab fa-linkedin" style="color: #304a63"></i> LinkedIn</p>
            </div>
            <div class="row">
              <div class="col p-4">
                <p> <i class="fab fa-google" style="color:#4185F4"></i> Google Jobs</p>
                <p> <i class="fab fa-google" style="color:#4185F4"></i> Indeed</p>
              </div>
            </div>
          </div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <div class="card mid-card">
        <div class="card-header lead">
            Save your Jobs
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <div class="card">
        <div class="card-header lead">
          Update the job status
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
