<div class="row">
  <div class=" bg-img-left col landing-left">
    <div class=" text-center p-4">
      <h1 class="lead text-white display-1">M Y A P P S</h1>

    </div>
  </div>
  <div class="bg-img-right col landing-right text-center">
    <div class="mx-auto col-10" >
      <div class="input-group mb-3">
          <input type="text" class="t-input form-control" placeholder="Job title" aria-label="Recipient's username" aria-describedby="button-addon2">
          <input type="text" class="t-input form-control" placeholder="Location" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
          </div>
        </div>
    </div>
  </div>
</div>
<div id="mid-col" class="row mx-auto">
    <div class="card">
        <div class="card-header lead">
           <i class="fas fa-search"></i> Search for jobs
        </div>
        <div class="card-body landing-card">
          <h5 class="card-title">Search from different job search engines all in one place</h5>
          <div class="row text-center">
            <div class="col p-4 border border-rounded">
              <i class="fab fa-github-square" ></i> 
              <p> Github Jobs</p>
            </div>
            <div class="col p-4 border border-rounded">
              <i class="fab fa-linkedin" style="color: #304a63"></i>
              <p>  LinkedIn Jobs</p>
            </div>
          </div>
        <div class="row text-center">
            <div class="col p-4 border border-rounded">
              <i class="fab fa-google" style="color:#4185F4"></i>
              <p>  Google Jobs</p>
            </div>
                <div class="col p-4 border border-rounded">
              <i class="fas fa-info-circle" style="color:#4185F4"></i>
              <p>Indeed.com</p>
              </div>
            </div>
        </div>
      </div>
    <div class="card mid-card">
        <div class="card-header lead">
            <i class="fas fa-map"></i> Track your application
        </div>
        <div class="card-body">
          <h5 class="card-title">What is the current status if the application</h5>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Phone Screen</th>
                  <th scope="col">1st round</th>
                  <th scope="col">Behavioral</th>
                  <th scope="col">Final</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Web Enin...</td>
                  <td>Full Stack - Uber...</td>
                  <td> Developer...</td>
                  <td>Java Dev...</td>
                </tr>
                <tr>
                  <td scope="row">Full Stack Eng...</td>
                  <td>Dev...</td>
                  <td>Software Dev...</td>
                  <td>Full stack ...</td>
                </tr>
                <tr>
                  <td scope="row"></td>
                  <td colspan="2"></td>
                  <td>Software ...</td>
                </tr>
              </tbody>
            </table>


        </div>
      </div>
    <div class="card">
        <div class="card-header lead">
            <i class="fas fa-pen-square"></i> Update the job status
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Satus</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>
                      <div class="input-group mb-4">
                          <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                            <option value="1">Phone Screening</option>
                            <option value="2">Technical</option>
                            <option value="3">Behavoral</option>
                            <option value="3">Final</option>
                          </select>
                          
                        </div>
                  </td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>
                      <div class="input-group mb-4">
                          <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                            <option value="1">Phone Screening</option>
                            <option value="2">Technical</option>
                            <option value="3">Behavoral</option>
                            <option value="3">Final</option>
                          </select>
                          
                        </div>
                  </td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>
                      <div class="input-group mb-4">
                          <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                            <option value="1">Phone Screening</option>
                            <option value="2">Technical</option>
                            <option value="3">Behavoral</option>
                            <option value="3">Final</option>
                          </select>
                          
                        </div>
                  </td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>
                      <div class="input-group mb-4">
                          <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                            <option value="1">Phone Screening</option>
                            <option value="2">Technical</option>
                            <option value="3">Behavoral</option>
                            <option value="3">Final</option>
                          </select>
                          
                        </div>
                  </td>
                  <td>@mdo</td>
                </tr>
                
              </tbody>
            </table>
        </div>
      </div>
</div>
