<div class="">
  <div class="card mt-4">
    <div class="card-body">
      <form (submit)="getAllJobs()">
        <div class="input-group mb-3">
          <input type="text" class=" col-5 form-control p-4" placeholder="Search by job title ..." aria-label="Recipient's username"
          aria-describedby="button-addon2" name="searchOptions.description" [(ngModel)]='searchOptions.description'>
          <input type="text" class=" col-7 form-control p-4" placeholder="Filter by location ..." aria-label="Recipient's username"
          aria-describedby="button-addon2" name="searchOptions.location" [(ngModel)]='searchOptions.location'>
          <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i>
            Search for jobs</button>
          </div>
        </div>
      </form>
      <div class="row mt-4">
        <div class="col-sm-5">
          <div class="overflow-hidden">
          <div class="card" id="jobs-list">
            <!-- Start of for loop -->
            <ul *ngFor="let job of jobs"  class="list-group list-group-flush">
              <li class="list-group-item">
                <div (click)="setFocus(job)" class="row ">
                  <div class="col-2 " id="focus" style="text-align: center;">
                    <img src="{{ job.company_logo}}" alt="" style="width: 50px; margin-right:10px;">
                    <i *ngIf="!job.company_logo" class="fas fa-fire" style="font-size: 50px;"></i>
                  </div>
                  <div class="col">
                    <a class="lead"><h4>{{ job.title}}</h4></a>
                    <span class="d-block text-capitalize">{{ job.company }}</span>
                    <span class="text-muted">{{ job.location }}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <nav aria-label="Page navigation example" class="pt-4 text-center">
            <p class="text-muted">Results ({{ jobs.length }})</p>
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item">
                  <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-2 focus">
                    <i *ngIf="!focus.company_logo" class="fas fa-fire mt-4"></i>
                    <img src="{{ focus.company_logo}}" alt="">
                </div>
                <div class="col">
                  <a href="{{ focus.url }}" target="_blank" class="btn btn-dark float-right text-white">Apply</a>
                  <h5 class="card-title text-capitalize">{{ focus.title }}</h5>
                  <p class="card-text text-capitalize m-0 p-0">{{ focus.company }}</p>
                  <p class="card-text text-capitalize m-0 p-0">{{ focus.location }}</p>
                  <span class="text-muted">Job posted: {{ focus.created_at }}</span>
                </div>
              </div>
              <div class="row">
                <p class="col-9 lead m-0 p-0 pl-2 mt-2">Description</p>
                <button (click)="addJobToList()"  class="col-3  btn btn-info py-0">
                  <i class="fas fa-plus pr-2" style="font-size:20px; vertical-align:middle"></i>
                  Add to my list
                </button>
              </div>
              <div class="row mt-4" id="job-description">
                <p class="px-4" [innerHTML]="focus.description"></p>
              </div>
              <p class="mt-4" [innerHTML]="focus.how_to_apply"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
