<div class="card mt-4">
  <div class="card-header lead">
      Stats
  </div>
  <div class="card-body">
    <h5 class="card-title">Applications made this month</h5>
    <p class="card-text">Keep track of all the applications you made week over week, and month over month</p>
    <canvas id="lineChart" class="chart-container"></canvas>
  </div>
  <div class="card-body">
    <h5 class="card-title">Companies Applied to</h5>
    <p class="card-text">These are the companies that you have applied to</p>
    <canvas id="pieChart" class="chart-container"></canvas>
  </div>
</div>
