<div class="row">
  <div class="col-3">
    <div class="card border-primary my-4">
      <div class="card-header lead bg-secondary text-light">
        Phone Screen
      </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                    <div class="col">Google</div>
                  <div class="col">Front-End Engineer</div>
                </div>
              </li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
    </div>
  </div>
  <div class="col-3">
    <div class="card border-secondary my-4">
      <div class="card-header lead bg-secondary text-light">
        Technical
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card border-success my-4">
      <div class="card-header lead bg-secondary text-light">
        OnSite
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card border-info my-4">
      <div class="card-header lead bg-secondary text-light">
        Final
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
