.user-img{
    height: 250px;
    width: 250px;
    border: solid .5px #DFDFDF;
    border-radius: 50%;
    text-align: center;
    padding-top:15px;
    display: inline-block;
}
.user-img i {
    font-size: 175px;
}