<div class="">
    <div class="mt-4">
      <div class="card">
        <div class="container col-11">
          <div class="row">
            <div class="col-4">
              <div class="card-body text-center">
                <div class="user-img">
                  <i class="fas fa-user"></i>
                </div>
              </div>
            </div>
            <div class="col pt-3">
                <p class="display-4">{{ user.first_name }} {{ user.last_name }}</p>
                <p class="lead">Software Engineer</p>
                <p class="lead">Actively Interviewing</p>
              <!-- this is it -->
            </div>
          </div>
        </div>
      </div>
        <div class="card mt-4">
            <div class="card-header lead">
                Track my Job Applications
            </div>
            <div class="card-body">
                <h5 class="card-title">My Applications ({{ user.jobs.length }})</h5>
                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <!-- <th scope="col"></th> -->
                      <th scope="col">Title</th>
                      <th scope="col">Company</th>
                      <th scope="col">Location</th>
                      <th scope="col">Stage</th>
                      <th scope="col">Applied</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let job of user.jobs">
                    <tr>
                      <!-- <th scope="row">{{ job.id }}</th> -->
                      <td (click)="showJobDetails(job)">                    
                        <img src="{{ job.company_logo}}" alt="" style="width: 30px; margin-right:10px;">
                        {{ job.title }}</td>
                      <td (click)="showJobDetails(job)">{{ job.company }}</td>
                      <td (click)="showJobDetails(job)">{{ job.location }}</td>
                      <td>
                          <div class="input-group mb-4">
                              <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                <option selected>{{ job.status}}</option>
                                <option value="1">Phone Screening</option>
                                <option value="2">Technical</option>
                                <option value="3">Behavoral</option>
                                <option value="3">Final</option>
                              </select>
                              
                            </div>
                      </td>
                      <td (click)="showJobDetails(job)">{{ job.createdAt }}</td>
                      <td>
                        <i (click)="alertRemoveFromJob(job)" class="btn btn-outline-danger">Archive</i>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-header lead">
                Stats
            </div>
            <div class="card-body">
              <h5 class="card-title">Applications made this month</h5>
              <p class="card-text">Keep track of all the applications you made week over week, and month over month</p>
              <canvas id="monthChart" class="chart-container"></canvas>
            </div>
        </div>
    </div>
</div>
