<div>
    <div class="card mt-4">
        <div class="card-body">
          <div class="border-bottom mb-4 pb-4">
            <div class="row">
                <div class="col ">
                  <p class="lead ">Name</p>
                </div>
                <div class="col">
                  <input type="text" class="form-control mb-4 p-4" placeholder="First Name">
                  <input type="text" class="form-control mb-4 p-4" placeholder="Last Name">
                </div>
              </div>
          </div>
          <div class="border-bottom mb-4 pb-4">
            <div class="row">
                <div class="col ">
                  <p class="lead">Email</p>
                </div>
                <div class="col">
                  <input type="text" class="form-control mb-4 p-4" placeholder="Email">
                </div>
              </div>
          </div>
          <div class=" mb-4 pb-4">
            <div class="row">
                <div class="col ">
                  <p class="lead">Password</p>
                </div>
                <div class="col">
                  <input type="password" class="form-control mb-4 p-4" value="12345678901234567890">
                </div>
              </div>
          </div>
          <input type="submit" class="btn btn-dark border border-light float-right  px-4 py-2" value="Save Changes">
        </div>
    </div>
</div>